{% extends "layout.html" %}

{% block body %}
    <h1>About</h1>
   <hr>
   <p>
    Hi everyone, my name is Mustafa and I am 22 years old, currently a university student. I am studying Management
Information Systems. I aim to keep up with innovations in software and contribute value to companies. I prioritize continuous learning and self-improvement throughout my career. I enjoy learning about new cultures, meeting new people and improving myself. My hobbies include travelling (I have visited 15 European countries so far), playing football, reading books, gym, camping and running.
   </p>
{% endblock body %}